<!doctype html>
<html lang="{{site.lang}}" dir="ltr">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile view -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="keywords" content="system architecture, solution architecture, product manager, product owner, fractional CTO, fractional product manager, software architect" />
  <meta name="description" content="{{site.description}}" />
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">

  {{> infra/google-analytics }}

  {{> infra/head-meta-social-media }}

  {{#block "head"}}
    <title>{{site.title}}</title>
  {{/block}}

  <!-- VENDOR'S STYLES -->
  {{> infra/vendors-styles }}

  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>

  {{#block "styles"}}{{/block}}

  <link rel="shortcut icon" href="/img/favicons/favicon.ico">

</head>
<body class="{{bodyClass}}" id="{{bodyId}}">



  {{#block "body"}}{{/block}}



</body>

  <!-- VENDOR'S JS -->
  {{> infra/vendors-js }}


  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>

  <% if (htmlWebpackPlugin.options.devServer) { %>
    <script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
  <% } %>

  {{#block "scripts"}}{{/block}}

</html>
